@import url("base.css");
.top-box{
	width:100%;height:32px;
	background-color:f2f2f2; 
}
.top-z{
	width:1230px;height:32px;
	/* background-color:blue;  */
	margin:0 auto; 
}
.top-left{
	width:208px;height:32px;
	/* background-color:red; */
	float: left; 
}
.top-left a{font-size:12px;
   color:#999999;
   float: left;
   margin:7px 6px;
   text-decoration: none;
}
.top-left a:hover{
	color: red;
}
.top-right{
	width:689px;right:32px;
	/* background-color:yellow; */
	float:right; 
}
.top-right a{
	font-size:12px;line-height:20px;
	color:#999999;
	margin:7px 3px;
    float:left; 
}
.top-right a:hover{
	color:red;
}
.top-right img{
  	float: left;
  	margin-top:5px;
  	margin-left:7px;
  	display:inline-block; 
	
}
#zz{
	float:left;
	margin-top:7px;
	margin-left:7px;
}
.ss-box{width:1230px;height: 131px;
	/* background-color:green;  */

}
.ss-z{
	width:202px;height:131px;
	background-image:url(images/6.jpg);
	float:left; 
}
.ss-ls{
	width:627px;height:43px;
	background-color:#c40000;
	float:right;
	margin-top:20px;
	margin-right:200px;      
}
#bb{
	width:491px;height:37px;
	margin-top:2px;
	margin-left:2px;
	float: left;  
}
.ss-lsx{
	width:131px;height:43px;
	/* background-color:blue; */
	float: left; 
}
.ss-lsx a{
	font-size:27px;
	color:#ffffce ;
	margin-left:43px; 
	line-height:40px;
   

}
.ss-isxx{
	width:627px;height:52px;
	/* background-color:yellow; */
	margin-top: 20px;
}
.ss-isxx a{font-size:13px; 
	      color:#999999;
	      margin-top:9px;
	      float:left; 

}
.ss-isxx span{color:#999999;
	margin:0 12px;

}
#cc{
	color:#c40000;
}
.nav-box{
	width:100%;height:36px;
	background-color:#dd2727; 
}
.nav-zbox{
	width:1230px;height:36px;
	/* background-color:blue;  */
}
.nav-lbox{
	width:200px;height:36px;
	background-color:#c60a0a; 
	float: left;

}
.nav-lbox a{
	font-size:17px;
	margin-left:6px;
	line-height:33px;
	color:#ffffd0; 
}
.nav-lbox img{
	width:16px;height:12px;
	margin-left: 14px;
	float:left;
	margin-top:11px;  
}
.nav-rbox{
	width:1232px;height:36px;
	background-color:red;  
}
.nav-rboxl{
	width:240px;height:36px;
	/* background-color:blue; */
	float:left;
}
.nav-rboxl img{
	width:95px;height:28px;
	margin-left: 18px; 
	margin-top:3px ;
}
.nav-rboxr{
	width:791px;height:36px;
	/* background-color:yellow; */
	float:left;  
}
.nav-rboxr a{
	font-size: 15px;
	color:#ffffff;
	margin-left: 31px;
	line-height:35px  
}

.banner-boxb{
	width:100%;height:500px;
	background-color:#e8e8e8; 
}
.bannner_box{
	width:1232px;height:500px;
	/* background-color:blue; */
	position:relative;
}
.bannerboxl{
	width:200px;height: 500px;
	background-color:#eeeeee;
	float:left; 
	position:absolute;
	top:0px;
	left:0px;
	z-index: 999;
}
.banner_boxls{
	width:200px;height:31px;
/*    background-color:yellow; */ 
	margin:0px 96px 0px 0px;
}

.banner_boxls :hover{
	background:#ffffff;
}
.banner-boxlsz{
	width:15px;height:17px;
	/*  background-color:blue; */
	float:left; 
	margin-top: 6px;	 
}
.banner-boxlsz img{
	width:15px;height:17px;
}
.banner-wz{
	width:200px;height:30px; 
	/* background-color: blue; */
	float: left;
	margin:0 auto;
}
.banner-wz a{
	font-size: 15px;
	color:#000000;
	display: block;
	line-height: 30px;
}

/* <!--侧导航收缩部分开始--> */
.cdh{
	width:912px;height:500px;
	background-color:white; 
	float: left;
	position: absolute;
    z-index:1000;
    margin-left:200px; 
    display: none; 
    overflow: hidden;  
}
.cdhl{
	width:582px;height:500px;
	/* background-color:black; */
	float:left;	
}
.cdhlx{
	width:542px;height:450px;
	/* background-color: green; */
	margin:23px 20px;
}
.cdhlx1{
	width:542px;height:44px;
	/* background-color:red; */
	margin-bottom: 1px;
}
.cdhlx1-1{
	width:110px;height:44px;
	/* background-color:yellow; */
	float: left; 
}
.cdhlx1-1 a{
	font-size: 15px;
	color:black;
	display: block;
	line-height: 44px;
	text-align: center;

}
.cdhlx1-2{
	width:48px;height:44px;
	/* background-color: blue; */
	float: left;
}
.cdhlx1-2 a{
	font-size: 15px;
	color:black;
	display: block;
	line-height: 44px;
	text-align: center;
}
.banner-boxr{
   width:300px;height:436px;
  /*  background-color:red; */
   float: left;
   margin:35px 15px; 	
}
.banner-boxrx{
width:300px;height:46px;
/* background-color: green; */
float: left;
border-bottom: 1px solid yellow;
}
.banner-boxrxl{
	width:150px;height:46px;
	float:left;
	background-color: black;
}
.banner-boxrxl img{
	width:150px;height:46px;
}
/* <!--侧导航收缩部分结束--> */


.bannner-middle-box{
	width:1180px;height:500px;
	background-color:green;
	position: relative;
  	 overflow:hidden;
}
.bn_img{
	width:1180px;height:500px;
	position: absolute;
}
 #bnaa{
	position: absolute;
	z-index: 20;
	

} 
.bannner-middle-box-x{
	width: 250px;height: 40px;
/* 	background-color: yellow; */
	bottom: 20px;left:43%;
	z-index:50;
	position: absolute;
}
.bannner-middle-box-y{
   width: 25px;height: 25px;
	border-radius: 50%;
	border:1px solid #000;
	float: left;
	margin:8px 0 0 20px;
	cursor:pointer;
}

.banner-right-box{
   width:100px;height:480px;
   background-color:#747474;
   float: right;
   position: absolute;
   top:9px;
   right:0px;
   z-index: 998;
}
.banner-right-box img{
     width:70px;height:70px;
     margin-top:12px;
     margin-left:15px;  
}
.wz1{
	font-size:13px;
	color: #ffffff;
	line-height:11px;
	margin-left: 27px; 
}
.wz2{
	background-image: url(../images/28.jpg);
	width:80px;height:24px;
	margin-top: 13px;
}
.banner-right-box a{
	font-size:13px;
	color: #ffffff;
	margin-left:17px;
	margin-top: 13px;
	float:left; 
}
.wz3{
	background-image: url(../images/30.jpg);
	width:71px;height:61px;
	margin-top:55px;  
}

.wzb{width:60px;height:15px;
	color: #ffffff;
	margin-left:20px;
	margin-top: -6px;
	float:left; 
}
.banner-rbt{
	width: 100px;height:24px;
	background-color:#636363;
    margin-top:35px;
    float:left;    
}
.banner-rbt a{
	font-size: 13px;
	color:#ffffff;
	line-height:0px;
	
}
.banner-rbg{
	width:100px;height:57px;
	/* background-color:green; */
	margin-top:117px;
	background-image: url(../images/29.jpg); 
	background-repeat: no-repeat;
	margin-left: 24px;

}
.banner-rbxw{
	width:85px;height:40px;
	/* background-color: green; */
	margin-top: 3px;
	margin-left:5px; 
}
.banner-rbxw a{
	font-size: 13px;
	color:#ffffff;
	line-height: 6px;
}
.haidao{
	width:1232px;height:170px; 
	background-color: yellow;
	margin:20px auto;

	background-image:url(../images/31.jpg);  
}
.logo-bbox{
	width:1232px;height:395px;
	/* background-color: blue; */
	margin-top:68px; 
}
.logo-bboxbt{
	width:200px;height:17px;
	/* background-color: green; */
	margin-left:14px;
}
.logo-bboxbtwz{
	font-size: 17px;
	color:#000000;
}
.logo-bboxzb{
	width:1232px;height: 373px;
	/* background-color:yellow; */
	margin-top:15px;  
}
.logo-left{
	width:246px;height:373px;
	/* background-color:red; */
	float: left; 
}
.logo-lp img{
	width:246px;height:373px;
	
}
.logo-middle{
	width:760px;height:372px;
	/* background-color: red; */
	float: left;
}
.logo-middlexp{
	width:122px;height:90;
	float: left;
	position: relative;
	display: block;
}
.logo-middlexp img{
	width:122px;height:90px; 

}
.mask{
	width:122px;height:90px;
	background-color:black;
	opacity:0;
	position:absolute;
	
}
.logo-rightbbox{
	width:226px;height:373px;
	background-color:#f9f8f3;
	float:right; 
}
.logo-rightbox{
	width:226px;height:90px;
	/* background-color:yellow; */
	float:left;
}  
.logo-rightx{
        width:200px;height: 74px;
        /* background-color:blue; */
        margin-top:19px; 
}

.logo-rightx img{
       width:74px;height:74px;
       float: left;
       margin-top: -9px;       
}
.logo-rightx a{
	font-size:13px;
	margin-top: 9px;
	float: left;
	color:#333333;
}
.logo-rightx a:hover{
	color:red;
}
.tjbox{
	width:1232px;height:478px;
	/* background-color:blue;  */
	margin-top: 697px;
}
.tjbox-l{
	width:240px;height:478px;
	/* background-color:red; */ 
	float: left;
	margin-right: 6.4px;
}
.tjbox-l-top{
	width:240px;height:36px;
	/* background-color: green; */
	background-image:url(images/58.jpg); 
}
.tjbox-l-body{
	width:240px;height:442px;
/* 	background-color: yellow; */

}
.tjbox-l-bodys{
	width:140px;height:211px;
	/* background-color: blue; */
}
.tjbox-l-bodys1{
	width:140px;height:71px;
	/* background-color: red; */
}
.tjbox-l-bodys1 a{
    font-size:22px;
    color:#000000;
    line-height: 60px;
    text-align: center;
    display: block;
}
#aa{
	color:#968888;
	font-size:12px; 
	margin-top: -30px;
	margin-left:33px; 
	display: block;
}
.tjbox-l-bodys2{
	width: 180px;height:180px;
	 /* background-color: green; */ 
	 position: relative;
}
.tjbox-l-bodys2 img{
      width: 140px;height:140px;
      cursor: pointer;
      position: absolute;
      top:40;left:40;
}

.tj2-3{
		width:130px;height:130px;
		background-color:#888;
		position: absolute;
		border-radius:50%;
		top:20px;left:0;right:0;bottom:0px;
		opacity: 0.5;
	}
 .tj2-3 img{
      width:100px;height:100px;
     margin-top:15px;
     margin-left: 15px;
} 
.tj2-3-mask{
		width:140px;height:140px;
		/* background-color: red; */
		position: absolute;
		float: left;
		left:0px;top:0px;	
		opacity:0;
	}
.tj2-3-mask img{
	width:140px;height:140px;
	position: absolute;
	
}	
.tj2-3-mask:hover{
		opacity: 1;
	}

.ggt2{
	width:1232px;height:160px;
	/* background-color: blue; */
	margin-top: 30px;
}
.gg-t2{width:1232px;height:130px;

}
.ggt-t2 img{width:1232px;height:130px;

}
.shop-box{
	width:1232px;height:441px;
    /* background-color:blue; */ 
}

.shop-boxl{
	width:246px;height:441px;
	/* background-color:yellow; */
	float:left;

}
.masknf{
	width:246px;height:300px;
	background-color:blue; 
}
.masknf img{
	width:246px;height:300px;
}
.masknfz{
	width:246px;height:300px;
	background-color:white;
	position: absolute;
	opacity:0; 
}

.shop-boxl-1{
	width:246px;height:141px;
	/* background-color: red; */
	margin-top:-4px; 
}
.shop-boxl2{
	width:246px;height:30px;
	background-color:#fbfafb;
	margin-top: -5px;
}
.shop-boxl2 a{
	font-size:13px;
	color:#000000;
	display: block;
	text-align:center; 
	line-height: 30px; 
}
.shop-boxl3{
	width:246px;height:111px;
	background-color:#f7a945;
}
.shop-boxl3 a{
	font-size: 21px;
	color:#ffffff;
	display:block;
	text-align:center;
	line-height:40px; 

}
#dd{
	font-size:17px; 
}
.shop-box-middle{
	width:735px;height:441px;
    /* background-color: red; */
	float: left;
	margin-top: -441px;
	margin-left:246px; 
}
.shop-box-middle-1{
	width:735px;height:220px;
    /* background-color:green; */ 
	float:right;  
}
.shop-box-middle-1-1{
	width:245px; height:220px;
    /* background-color: blue;  */
	float: left;
	
}
.shop-box-middle-1-1 a{
	font-size: 18px;
	color:#000000;
	float: left;
	margin-top: 25px;	 
}
.shop-box-middle-1-1 a:hover{
	color:red; 
}
#ee{
	font-size: 12px;
	color:#f7a945;
	float: left;
	margin-top:4px;
	margin-left:23px;
	line-height:10px;  
}

.shop-box-middle-pictures{
	width:245px;height:150px;
	/* background-color:yellow; */
	position:relative;
	margin-top:70px;
}
.shop-box-middle-picturesr{
	width:170px;height:150px;
  /*   background-color:black ; */
    position: absolute;
    right:0;
}
.shop-box-middle-picturesr img{
	width:170px;height:150px;
}
.shop-box-middle-picturesl{
    width:170px;height:150px;
    /* background-color:red; */
    position: absolute;
    right:10px;
    opacity:0;
}
.shop-box-middle-picturesl img{
	width:170px;height:150px;
	
}
.shop-box-middle-picturesl:hover{
	opacity:1;
}






.shop-box-middle-2{
	width:735px;height:144px;
	background-color:yellow; 
	float:right;
	position: relative;	
}
.shopbm{
	width:245px;height:144px;
	position: absolute; 
	background-color: blue;
	top:0;left:0px;	
}
.shopbm img{
	width:225px;height:144px;	
}
.shopbml{
	width:245px;height:144px;
	position: absolute; 
	top:0;left:0px;
    opacity:0;
}
.shopbml img{
	width:245px;height:144px;
}
.shopbml:hover{
		opacity: 1;
	}

#ff{
	width:215px;height:144px;
} 
.shop-box-right1{
	width:135px;height:441px;
/* background-color: yellow; */
	float:left;
	margin-left: 733px;
}
.sbr-1-1{
	width:108px;height:147px;
/* background-color: red; */
}
.sbr-1-1 a{
	font-size:20px;
	color: #000000;
	display:block; 
	text-align: center;
	line-height:40px;
}
.sbr-1-1 a:hover{
	color: red;
}
#gg{
	font-size:13px; 
	color: #f7a945;
}
.sbr-2{
	width:117px;height:441px;
/* background-color: green; */
	float: right;

}
.sbr-2 img{
	width:117px;height:147px;
}
.bottom-box{
	width:1232px;height:367px;
	/* background-color:blue; */
	margin-top:10px;    
}
.bottom-box-top{
	width:1232px;height:153px;
/* background-color: yellow; */
}
.bottom-box-top1{
	width:1145px;height:50px;
	/* background-color:red; */
	float:right ;
	margin-top: 50px;
	margin-right:30px;  

}
.bottom-box-top1-1{
	width:253px;height:50px;
   /*  background-color: blue; */
	float:left;
	margin-right:30px; 
}
.bottom-box-top1-1-1{
	width:50px;height:50px;
	/* background-color:red; */
	float:left;

}
.bottom-box-top1-1-1 img{
	width:50px;height:50px;
}
.bottom-box-top1-1-2{
	width:203px;height:50px;
	/* background-color:green; */ 
	float: right;
}
.bottom-box-top1-1-2 a{
	font-size:17px;
	display: block;
	text-align:center; 
	color:#131313;
}
#hh{
	color:#aeaeae;
	margin-left: 1px; 
}
.bottom-box-top2{
	width:1232px;height:215px;
/* 	background-color: red; */
	float:left;
	margin-top: 50px;
}
.bottom-box-top2-1{	
	width:1144px;height:160px;
	/* background-color:green; */
	margin-top:30px; 
}
.bottom-box-top2-2{
	width:65px;height:160px;
	/* background-color:blue; */
	float:left;
	margin-right: 175px;   
}
.bottom-box-top2-2 a{
	font-size: 11px;
	color:#8b8b8b;
	line-height: 15px;
	display: block;
	text-align: center;
}
#ii{
	font-size:16px;
	color:#161616;
	line-height: 20px; 
}
.bottom-box-top2-3{
	width:103px;height:160px;
	/* background-color: blue; */
	float: left;
}
.bottom-box-top2-3 img{
     width: 103px;height:126px;
}






.jieshu-box{
	width:100%;height:193px;
	background-color:#000000;
	margin-top:50px; 
}
.jieshu-zbox{
	width:1170px;height:160px;
	/* background-color:blue; */
	float: left;
	
	margin:0 18%;
}
.jieshu-zbox1{
	width:567px;height:13px;
	/* background-color:red; */
	float: left;
	margin-top:11px;    
}
.jieshu-zbox1-1{
	width:48px;height:12px; 
	/* background-color:yellow; */
	float: left; 
	margin-right:8px; 
}
.jieshu-zbox1-1 a{
	font-size:12px;
	color:#ffffff;
	line-height:12px;
	display:block;  
}
.jieshu-zbox2{
	width:1170px;height: 14px;
	/* background-color:red; */
	margin-top: 46px; 
}
.jieshu-zbox2 a{
	font-size: 12px;
	color: #ffffff;
	display:block;
	line-height: 12px;
	margin-right:9px; 
	float: left; 
}
.jieshu-zbox3{
	width: 1170px;height:12px;
	/* background-color:red; */
	margin-top:12px;  
}
.jieshu-zbox3 a{
	font-size:11px;
	color: #ffffff;
	line-height: 11px;
	display: block;
	margin-right: 150px;
	float:left;
}
.jieshu-zbox4{
	width:1170px;height:12px;
	/* background-color: red; */
	margin-top:12px;
}
.jieshu-zbox4 a{
	font-size:11px;
	color: #ffffff;
	line-height: 11px;
	display: block;
	margin-right: 150px;
	float:left;
}
#tt{
	color: #a4a4a4;
}
.jieshu-zbox5{
	width:1170px;height:30px;
	/* background-color: red; */
}
.jieshu-zbox5 img{
	width: 167px;height: 30px;
	float: left;
}
/* <!--侧导航栏开始--> */
.liftsidebar_box{
	/* width: 38px;height:371px; */
	/* background-color:blue; */
	width: 0;height:0;
	position: fixed;
	left:50%; 
	bottom:240px; 
	margin-left:-660px; 
	overflow: hidden; 
	
}
.liftsidebarboxp{
     width:38px;height:38px;
     background-color:#626262;
     margin-top: 3px;
}
.liftsidebarboxp a{
	font-size: 13px;
	color:white;
	display: block;
	line-height:17px;
	text-align: center;
}
.liftsidebarboxp a:hover{
   background-color: red;
}

.boxcdhxL{
	width:38px;height:38px;
     background-color:#626262;
     margin-top: 3px;
}
.boxcdhxL a{
	font-size: 13px;
	color:white;
	display: block;
	line-height:17px;
	text-align: center;
}


.liftsidebarzz{
     width:38px;height:38px;
     background-color: black;
     position:absolute;
     opacity:0;
}
#LL{
	 width:38px;height:38px;
     background-color:red;
     margin-top: 3px;

}
/* 侧导航栏结束 */

/* 搜索栏开始 */
.topbar{
		width:100%;height:50px;
		background-color:#de2d2b;
		position:fixed;
		left:0;top:-50px;
		opacity:0.9;
	}
.topbar2{
	width:133px;height:27px;
	background-color:blue; 
	float: left;
	margin-left:320px;
	margin-top:17px;  
	float:left;
}	
.topbar2 img{
     width:133px;height:27px;
}
.topbar3{
	width:742px;height:32px;
	background-color: blue;
	float:left;
	margin-left:70px;
	margin-top:12px;  
}
.topbar4{
     width:653px;height:32px;
     float:left;
     background-color: yellow;
}
#AA{
	width:653px;height:30px;
}
.topbar5{
	width:89px;height:32px;
	float:left;
	background-color: green;
}
.topbar5 img{
	width:89px;height:32px; 
}
/* 搜索栏结束 */
/* 右侧导航开始 */
.rightbar{
   width:30px;height: 950px;
   background-color:black;
   position:fixed;
   right:50%;
   margin-right:-950px;
   top:1px;
	}
.rightbar-one{
	width:30px;height: 200px;
	/* background:red; */ 
	margin-top:450px; 
}	
.item{
		width:30px;height:30px;
		cursor:pointer;
		position: relative;
		/* background-color: green; */
		margin-top:5px;
}
.item img{
	width:30px;height:30px;
}
.item:hover{
		background-color: red;
	}
.name{
		width:100px;height: 30px;
		background-color: black;
		position: absolute;
		left:-120px;
		top:0;
		color:red;
		font-size:13px;
		color:white; 
		text-align: center;
		line-height: 30px;
	    display: none; 
		opacity: 0.6;
	}

#dbewm{
	width:175px;height:175px;
	position: absolute;
		left:-175px;
		top:-120px;
		display: none; 
		opacity: 0.6;
}
.name img{
	width:175px;height:175px;
}

.rightbar-two{
	width:30px;height:100px;
/* 	background-color:red; */
	position: absolute;
	bottom:14px;   
}	
.rightbar-three{
	width:30px;height:150px;
	/* background-color:red; */
	position: absolute;
	top:200px;

}
#GG{
	width:30px;height: 120px;
	background-image: url(images/);
}
#GW{
	width:30px;height:120px;
}
/* 右侧导航结束*/